<nav class="nav-page">
    {{{PagesTitle}}}
    <ul class="navigation-page-list">
    <li>{{{ LoginPageLink }}}</li>
    <li>{{{ RegistrationPageLink }}}</li>
    <li>{{{ UserPageLink }}}</li>
    <li>{{{ UserInfoChangePageLink }}}</li>
    <li>{{{ UserPasswordChangePageLink }}}</li>
    <li>{{{ ChatPageLink }}}</li>
    <li>{{{ NotFoundPageLink }}}</li>
    <li>{{{ ServerErrorPageLink }}}</li> 
</nav>
