<div class="dialog-wrapper">
 <form class="login-page">
  <div class ="login-page__content">
    {{{PageTitle}}}
    {{{LoginInput}}}
    {{{PasswordInput}}}
  </div>
  <div class ="login-page__footer">
       {{{LoginButton}}}
       {{{NoAccauntButton}}}
  </form>
</div>
