<div class="login-page">
 <form class="login-form">
    {{{PagesTitle}}}
  <div class ="login-page-inputs">
    {{{LoginInput}}}
    {{{PasswordInput}}}
  </div>
  <div class ="login-page-buttons">
       {{{LoginButton}}}
       {{{NoAccauntButton}}}
  </form>
</div>
