  <div class="init-input__title">{{ title }}</div>
  <input className="init-input__element" type="{{ type }}" title="{{ title }}" name="{{ name }}"  placeholder="{{placeholder}}" value="{{value}}"> </input>
<span class="input-error" name="{{name}}">{{errorMessage}}</span>
