<section class="content">
<div class='user-foto'>
    {{{ UserPhoto }}}
  </div>
  {{{ UserFirstName }}}
  <form class='profile-form'>
    <ul class='list'>
      {{{ UserEmailInput }}}
      {{{ UserLoginInput }}}
      {{{ UserFirstNameInput }}}
      {{{ UserSecondNameInput }}}
      {{{ UserDisplayNameInput }}}
      {{{ UserPhoneInput }}}
    </ul>
    <div class='buttons'>
      {{{ SaveButton }}}
    </div>
  </form>
</section>
