<div class='profile'>
    <div class='profile-return'>
    {{{ArrowButton}}}
  </div>
<section class="content">
<div class='avatar'>
    {{{ ProfileAvatar }}}
  </div>
  {{{ UserTitle }}}
  <form class='profile-form'>
    <ul class='list'>
      {{{ UserEmailInput }}}
      {{{ UserLoginInput }}}
      {{{ UserFirstNameInput }}}
      {{{ UserSecondNameInput }}}
      {{{ UserDisplayNameInput }}}
      {{{ UserPhoneInput }}}
    </ul>
    <div class='buttons'>
      {{{ SaveButton }}}
    </div>
  </form>
</section>
</div>
{{{Modal}}}
