<section class='user_page'>

  <div class='sidebar'>
    <div class='back-button'></div>
  </div>
  <div class='main'>
    <div class='user-info'>
      <div class='user_photo'>
        {{{UserPhoto}}}
        <div class='firs-name'>Александр</div>
      </div>
      {{{UserFirstName}}}
      <ul class='inputs-list'>
        {{{UserEmailInput}}}
        {{{UserLoginInput}}}
        {{{UserFirstNameInput}}}
        {{{UserSecondNameInput}}}
        {{{UserDisplayNameInput}}}
        {{{UserPhoneInput}}}
      </ul>
      <div class='change-info'>
        {{{UserInfoChange}}}
        {{{UserPasswordChange}}}
        {{{Exit}}}
      </div>
    </div>

  </div>
</section>