<div class='profile'>
  <div class='profile-return'>
    {{{ArrowButton}}}
  </div>
<section class='content'>
    <div class='avatar edit'>
        {{{ProfileAvatar}}}
      </div>
      {{{UserTitle}}}
      <ul class='list'>
        {{{UserEmailInput}}}
        {{{UserLoginInput}}}
        {{{UserFirstNameInput}}}
        {{{UserSecondNameInput}}}
        {{{UserDisplayNameInput}}}
        {{{UserPhoneInput}}}
      </ul>
      <div class='links'>
        {{{UserInfoChange}}}
        {{{UserPasswordChange}}}
        {{{Exit}}}
  </div>
</section>
</div>
{{{Modal}}}
