<section class='user_page'>
  <div class='avatar avatar__edit'>
    {{{UserPhoto}}}
  </div>
  {{{UserFirstName}}}
  <ul class='input'>
    {{{UserEmailInput}}}
    {{{UserLoginInput}}}
    {{{UserFirstNameInput}}}
    {{{UserSecondNameInput}}}
    {{{UserDisplayNameInput}}}
    {{{UserPhoneInput}}}
  </ul>
  <div class='change-info'>
    {{{UserInfoChange}}}
    {{{UserPasswordChange}}}
    {{{Exit}}}
  </div>
</section>