<div class='dialog-wrapper'>
  <form class='login-page'>
    <div class='login-page__content'>
    {{{PagesTitle}}}
      {{{EmailInput}}}
      {{{LoginInput}}}
      {{{FirstNameInput}}}
      {{{SecondNameInput}}}
      {{{PhoneNumberInput}}}
      {{{PasswordInput}}}
      {{{RepeatPasswordInput}}}
    </div>
    <div class='login-page__footer'>
      {{{RegistrationButton}}}
      {{{EnterButton}}}
    </div>
  </form>
</div>
