<div className="registration-page"></div>
 <form class="registration-form">
    {{{PagesTitle}}}
  <div className ="registration-page-inputs">
    {{{ EmailInput }}}
    {{{ LoginInput }}}
    {{{ FirstNameInput }}}
    {{{ SecondNameInput }}}
    {{{ PhoneNumberInput }}}
    {{{ PasswordInput }}}
    {{{ RepeatPasswordInput }}}
  </div>
  <div className ="registration-page-buttons">
       {{{ RegistrationButton}}}
       {{{ EnterButton}}}
  </form>
</div>

