<div className="registration-page">
 <form class="registration-form">
    {{{PagesTitle}}}
  <div className ="registration-page__inputs">
    {{{ EmailInput }}}
    {{{ LoginInput }}}
    {{{ FirstNameInput }}}
    {{{ SecondNameInput }}}
    {{{ PhoneNumberInput }}}
    {{{ PasswordInput }}}
    {{{ RepeatPasswordInput }}}
  </div>
  <div className ="registration-page-buttons">
       {{{ RegistrationButton}}}
       {{{ EnterButton}}}
  </div>
  </form>
</div>

