<p class="input-title">{{inputName}}</p>
<input type="{{type}}" class="input" value="{{value}}" name="{{name}}" placeholder="{{placeholder}}" {{#if disabled}}disabled{{/if}} autocomplete="off">
<span class="profile-input-error" name="{{name}}">{{errorMessage}}</span>
