<section class='content'>
  {{{ UserPhoto}}}
  <form class='password-form'>
    <ul class='password-list'>
      {{{ OldPasswordInput }}}
      {{{ NewPasswordInput }}}
      {{{ NewPasswordRepeatInput }}}
    </ul>
    <div class='buttons'>
    {{{ SaveButton}}}
    </div>
  </form>
</section>
