<div class='profile'>
  <div class='profile-return'>
    {{{ArrowButton}}}
  </div>
<section class='content'>
  {{{ ProfileAvatar }}}
  <form class='password-form'>
    <ul class='list'>
      {{{ OldPasswordInput }}}
      {{{ NewPasswordInput }}}
      {{{ NewPasswordRepeatInput }}}
    </ul>
    {{{ SaveButton}}}
  </form>
</section>
</div>
